.app {
  background: linear-gradient(to bottom, #394C64, #212D3E);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 6.854rem 1rem 0;
  width: 100%;
}

.app .app-container {
  max-width: 768px;
  width: 100%;
}
