@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body,
#root {
  color: #FFF;
  font: 18px/1.5 Roboto;
  height: 100%;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}
