.todo_item {
  display: flex;
  justify-content: space-between;
  padding: 0.618rem 0;
  width: 100%;
}

.todo_item:hover {
  background: rgba(255, 255, 255, 0.016);
}

.todo_item .todo_text {
  margin-right: auto;
  padding: 0 1rem;
}

.todo_item .is_checked svg path {
  fill: #58E1CC;
}

.todo_item .todo_text.is_checked {
  color: #A4ADB6;
  text-decoration: line-through;
}

.todo_item .delete {
  cursor: pointer;
  visibility: hidden;
}

.todo_item .delete.are_options_visible {
  visibility: visible;
}
