.todo_form .form {
  position: relative;
}

.todo_form .input {
  background: none;
  border: none;
  border-bottom: 1px solid #A4ADB6;
  color: #FFF;
  font-family: Roboto;
  font-size: 1rem;
  padding: 0.382rem 0;
  width: 100%;
}

.todo_form .input::placeholder {
  color: #A4ADB6;
}

.todo_form .input:focus {
  outline: none;
}

.todo_form .add_container {
  bottom: 0;
  position: absolute;
  right: 0;
}

/**
 * A small trick to use the SVG as a submit button. First, we wrap both the
 * submit button and the SVG inside a <label> so that they are associated
 * together, then we hide the submit button.
 */
.hidden_submit {
  display: none;
}

.todo_form .is_not_empty > svg > path {
  fill: #58E1CC;
}
