.todo_item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.todo_item + .todo_item {
  margin-top: 1.618rem;
}

.todo_item .todo_text {
  margin-right: auto;
  padding: 0 1rem;
}

.todo_item .is_checked svg path {
  fill: #58E1CC;
}

.todo_item .todo_text.is_checked {
  color: #A4ADB6;
  text-decoration: line-through;
}
